html, body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, #c0d3d2, white);
}
/*NAVBAR*/
.navbar {
  background-color: #1f2f16;
  padding: 10px;
  overflow: hidden
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Abril Fatface', cursive;
}

.navbar a:hover {
  background-color: #537f71;
}

.logo {
/*   width: 100px;
  height: 100px; */
  width: 75px;
  height: 60px;
}

.aboutHeader {
  font-size: 40px;
  font-family: 'Abril Fatface', cursive;
  color: #1f2f16;
}

.learnAboutUs {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #1f2f16;
}

.jessieParagraph, .denielleParagraph, .niharikaParagraph {
  font-family: 'Raleway', sans-serif;
  color: #1f2f16;
}
.jessie, .denielle, .niharika {
  height: 570px;
  width: 400px;
  padding: 40px;
  background-color: #F1EDE5;
  border: solid;
  border-radius: 20px;
  border-color: #395b50;
  text-align: center; 
  vertical-align:middle;
  margin: auto;
  margin-bottom: 50px;
}

.names {
  display: flex;
  vertical-align:middle;
  justify-content:space-between;
  margin: auto;
}

.pic {
  width: 200px;
  height: 200px;
  border: solid;
  border-color: #537f71;
  border-radius: 20px;
}

.jessiepic {
  width: 200px;
  height: 260px;
  border: solid;
  border-color: #537f71;
  border-radius: 20px;
}

.deniellePic {
  width: 200px;
  height: 200px;
  border: solid;
  border-color: #537f71;
  border-radius: 20px;
}

.about {
  margin-left: 700px;
}